<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/style.css" />
        <title><%=title%></title>
  <body>
    <nav class="navbar navbar-expand-sm bg-primary">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-white" href="/employee/home">Home</a>
          <a class="nav-item nav-link text-white" href="/employee/sign-out">Signout</a>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center display-4">All details</h1> <a class="btn btn-success" href="/csv/download">Download as CSV</a>
        <table class="table text-center table-striped my-5">
          <tr>
            <th>
              ID
            </th>
            <th>
              Name
            </th>
            <th>
              College
            </th>
            <th>
            Batch
            </th>
            <th>
            Placement Status
            </th>
            <th>
            DSA Score
            </th>
            <th>
            Web Score
            </th>
            <th>
            React Score
            </th>
            <th>
                Company Name
            </th>
            <th>
                Interview date
            </th>
            <th>
                Status
            </th>
          </tr>
          <!-- Iterating over todo list tasks and printing them -->
          <%for(let i of csv){%>
          <tr>
            <td><%=i.id%></td>
            <td><%=i.name%></td>
            <td><%=i.college%></td>
            <td><%=i.batch%></td>          
            <td><%=i.placement_status%></td>
            <td><%=i.dsa_score%></td>
            <td><%=i.web_score%></td>
            <td><%=i.react_score%></td>
            <td><%=i.company_name%></td>
            <td><%=i.interview_date%></td>
            <td><%=i.status%></td>
            <td></td>
          </tr>
          <%}%>
        </table>  
    </div>
      
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>